/* 搜索按钮栏 */
.inquire {
  &-form {
    border-bottom: 2px solid #EAEDF1;
    &-query {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      box-sizing: border-box;
      &-add{
        margin-right: 10px;
      }
    }
  }
  &-table {



    &-title{
      height:71px;
      line-height: 71px;
      font-size: 18px;
      color: #666666;
    }
  }
}


.form-btn-wrap {
  .btns {
    float: right;
  }
}

.sub-title{
  font-size: 18px;
}